[Desktop Entry]
Version=1.0
Categories=GNOME;Search;
Icon=system-search
Name=Spuren
Comment=GNOME Shell search provider for pass
Terminal=false
Type=Application
OnlyShowIn=GNOME;
NoDisplay=true
Name[en]=Spuren
